  upstream webapp {
    server {{ hostvars[groups['webapps'][0]].ansible_ssh_host }};
  }
 	
  server {
    listen 80;
    listen [::]:80;

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://{{ hostvars[groups['webapps'][0]].node_name }};
    }
  }

